.container {
  flex-grow: 1;
  align-self: stretch;
  width: 30%;
  max-width: 18em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 25em;
}

@media (max-width: 790px) {
  .container {
    width: 100%;
    max-width: none;
    justify-content: center;
    align-items: center;
  }
}
