.container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 5em;
  height: fit-content;
  border-radius: 1em;
  border: 2px solid var(--highlight-primary);
}

.weatherIcon {
  font-size: 4em !important;
  margin-bottom: 0.5em;
}

.weekday {
  margin: 0 0 0.1em;
}

.date {
  margin: 0;
}

.tempOverview {
  margin: 0;
}

h3 {
  font-size: 2em;
  margin: 0.5em 0 0.3em 0;
}

@media (max-width: 790px) {
  .container {
    width: 15em;
    min-width: 5em;
    padding: 1em 0;
  }
}
