.dashboard {
  border: 2px solid var(--highlight-primary);
  width: 80%;
  min-width: 750px;
  max-width: 70em;
  min-height: 30em;
  display: flex;
  flex-direction: row;
  border-radius: 1.5em;
  overflow: hidden;
  padding: 1.1em;
  gap: 1em;
}

@media (max-width: 750px) {
  .dashboard {
    width: 100%;
    min-width: auto;
    flex-direction: column;
  }

  .currentInfo {
    width: 100%;
    padding: 0;
  }

  .sideInfo {
    width: 100%;
    padding: 0;
  }
}
