.dashboard {
  background-color: var(--bg-secondary);
  width: 80%;
  min-width: 750px;
  max-width: 70em;
  min-height: 35em;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-center;
  border-radius: 1.5em;
  overflow: hidden;
  padding: 1.1em;
  gap: 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

@media (max-width: 790px) {
  .dashboard {
    width: auto;
    max-width: none;
    min-width: auto;
    flex-direction: column;
    max-height: none;
    min-height: 60em;
    border-radius: 0;
    height: auto;
    border: none !important;
    box-shadow: none;
    background-color: var(--bg-primary);
  }
}

@media (max-height: 735px) {
  .dashboard {
    max-height: none;
    height: auto;
    margin: auto;
  }
}
