.container {
  width: auto;
  min-height: 5em;
  border-radius: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (max-width: 790px) {
  .container {
    height: 15em;
    background-color: var(--bg-secondary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
