.input {
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid var(--highlight-secondary);
  color: white;
  outline: 0;
  width: 100%;
  font-family: inherit;
  font-weight: inherit;
  text-align: center;
  transition: border-bottom-color 0.3s;
  padding: 0;
}

.group {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  position: relative;
  width: 20em;
}

.loadingContainer {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}

.loading {
  overflow: hidden;
}

.loading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: -100%;
  background-color: var(--highlight-secondary);
  animation: loading 2s linear infinite;
}

.loadingUserLocation::after {
  background-color: var(--highlight-primary);
}

.label {
  top: -6px;
  left: 2px;
  position: absolute;
  transition: top 0.3s, font-size 0.3s, color 0.2s;
  font-size: 1.2rem;
  color: var(--text-secondary);
  width: 100%;
  text-transform: uppercase;
}

.input::placeholder {
  color: transparent;
  opacity: 0;
}

.input:-webkit-autofill,
.input:autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-primary) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
}

.input:focus + label,
.input:not(:placeholder-shown) + label {
  top: -25px;
  font-size: 1rem;
  color: var(--text-secondary);
}

.input:focus,
.input:not(:placeholder-shown) {
  border-bottom-color: var(--highlight-primary);
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
