.container {
  width: 100%;
  min-height: 3em;
  border-radius: 1em;
  border: 2px solid var(--highlight-primary);
}

.container span {
  margin: 1em;
}

.container p {
  word-wrap: break-word;
  padding: 0 1em;
}