.container {
  width: 100%;
  min-height: 3em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container span {
  margin: 1em;
}

.container p {
  word-wrap: break-word;
  padding: 0 1em;
}

@media (max-width: 790px) {
  .container {
    background-color: var(--bg-secondary);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
