.container {
  width: 100%;
  min-height: 5em;
  border-radius: 1em;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  align-items: stretch;
  overflow-x: auto;
}