.input {
  margin: 0 auto 2em auto;
}

.error input {
  border-color: var(--highlight-danger) !important;
}

.error label {
  color: var(--highlight-danger) !important;
}

.container {
  padding: 0 2.5em;
  position: relative;
}

.locateUser {
  position: absolute;
  right: 10px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

@media (max-width: 790px) {
  .content {
    width: 20em;
    position: relative;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .input {
    width: 100%;
    margin-bottom: 1em;
  }
  .locateUser {
    position: absolute;
    right: -30px;
  }
}
