.container {
  /* background-color: rgb(110, 189, 189); */
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 20em;
  flex-grow: 1;
  width: 70%;
}

@media (max-width: 790px) {
  .container {
    width: 100%;
  }
}
