.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  max-width: 10px;
  max-height: 8px;
}

/* Set the style for the scrollbar track */
::-webkit-scrollbar-track-piece {
  background-color: var(--background-secondary);
}

::-moz-scrollbar-track {
  background-color: var(--background-secondary);
}

/* Set the style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background-color: #5a5a5a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

*::-moz-scrollbar-thumb:hover {
  background-color: #909090;
}

@media (max-width: 790px) {
  .App {
    display: block;
    padding-top: 3em;
  }
}

@media (max-height: 735px) {
  .App {
    display: block;
    padding-top: 3em;
  }
}
