:root {
  --bg-primary: #31404d;
  --bg-secondary: #2d3944;
  --bg-tertiary: #232629;
  --highlight-primary: #655aaf;
  --highlight-secondary: #495f73;
  --highlight-danger: #9b0000;
  --text-primary: #f3f2f1;
  --text-secondary: #495f73;
  --mobile-breakpoint: 790px;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

#root {
  height: 100%;
  width: 100%;
}

@media (max-width: 790px) {
  html {
    background-color: var(--bg-secondary);
  }
}
